/* Setup */
@import './setup/fonts.css';
@import './setup/vars.css';

/* Basic */
@import './basic/base.css';
@import './basic/helpers.css';
@import './basic/layout.css';

/* Cmps */
@import './cmps/header.css';
@import './cmps/gallery.css';
@import './cmps/editor.css';

/* .keys {
    cursor: pointer;
    margin-left: 20px;
} */

/* .add-img {
    width: 80px;
    background: rgb(47, 0, 255);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    animation: doAdd 0.7s;
    animation-iteration-count: infinite;
} */

/* @keyframes doAdd {
    from {
        border: 2px solid rgb(255, 255, 255);
    }
    to {
        border: 2px solid rgba(238, 101, 101, 0.726);
    }
} */