* {
    box-sizing: border-box;
}

body {
    margin: 3px;
    background-color: #3e4b68f3;
    /* background-image: url('/img/backGround.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins;
}

ul {
    list-style: none;
    display: flex;
}

button {
    cursor: pointer;
}

a {
    color: unset;
    text-decoration: unset;
}
