.flex {
    display: flex;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}